<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.quanjing.pdg.dao.SysUserDao">
	
    <resultMap id="SysUser" type="com.pdg.model.SysUser">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>
    
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        	id ,
        	username ,
        	password ,
        	user_type ,
        	create_time ,
        	status
	    ]]>
	</sql>
	
	<select id="getById"  resultMap="SysUser">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM sys_user 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
    
    <select id="getByUsername"  resultMap="SysUser">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM sys_user 
	        WHERE 
		        username = #{username} 
	    ]]>
	</select>
	
</mapper>