<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.quanjing.platform.dao.UserDao">

	
    <resultMap id="User" type="com.quanjing.model.platform.User">
        <result property="id" column="id"/>
        <result property="nickName" column="nick_name"/>
        <result property="username" column="username"/>
        <result property="realName" column="real_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="pic" column="pic"/>
    </resultMap>
    
     <resultMap id="UserVo"  type="com.quanjing.model.platform.vo.UserVo" extends="User"></resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        	id ,
        	nick_name ,
        	username ,
        	real_name ,
        	password ,
        	phone ,
        	gender ,
        	birthday ,
        	create_time ,
        	status ,
        	pic
	    ]]>
	</sql>
	
		<sql id="columns2">
	    <![CDATA[
        	id ,
        	nick_name ,
        	username ,
        	real_name ,
        	phone ,
        	gender ,
        	birthday ,
        	create_time ,
        	status ,
        	pic
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert"  useGeneratedKeys="true" keyProperty="id" 
	>
    <![CDATA[
        INSERT INTO user (
        	id ,
        	nick_name ,
        	username ,
        	real_name ,
        	password ,
        	phone ,
        	gender ,
        	birthday ,
        	create_time ,
        	status,
        	pic
        ) VALUES (
        	#{id} ,
        	#{nickName} ,
        	#{username} ,
        	#{realName} ,
        	#{password} ,
        	#{phone} ,
        	#{gender} ,
        	#{birthday} ,
        	#{createTime} ,
        	#{status},
        	#{pic} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update">
        UPDATE user
        <trim prefix="SET" suffixOverrides=",">  
	        <if test="@Ognl@isNotEmpty(nickName)">
	        nick_name = #{nickName,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(username)">
	        username = #{username,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(realName)">
	        real_name = #{realName,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(password)">
	        password = #{password,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(phone)">
	        phone = #{phone,jdbcType=VARCHAR} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(gender)">
	        gender = #{gender,jdbcType=INTEGER} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(birthday)">
	        birthday = #{birthday,jdbcType=DATE} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(createTime)">
	        create_time = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(status)">
	        status = #{status,jdbcType=INTEGER} 
	        </if>
  	        <if test="@Ognl@isNotEmpty(pic)">
	        pic = #{pic} 
	        </if>
 	     </trim>
        WHERE 
	        id = #{id} 
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM user 
        WHERE
	        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="UserVo">
		SELECT <include refid="columns2" />
	    <![CDATA[
		    FROM user 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
		
    <select id="findCount" resultType="long">
        SELECT count(*) FROM user 
		<include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="User">
    	SELECT <include refid="columns" />
	    FROM user 
		<include refid="findWhere"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<sql id="findWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(nickName)">
				AND nick_name = #{nickName}
			</if>
	       <if test="@Ognl@isNotEmpty(username)">
				AND username = #{username}
			</if>
	       <if test="@Ognl@isNotEmpty(realName)">
				AND real_name = #{realName}
			</if>
	       <if test="@Ognl@isNotEmpty(password)">
				AND password = #{password}
			</if>
	       <if test="@Ognl@isNotEmpty(phone)">
				AND phone = #{phone}
			</if>
	       <if test="@Ognl@isNotEmpty(gender)">
				AND gender = #{gender}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND status = #{status}
			</if>
		</where>
	</sql>
	
</mapper>

